.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 400px;
    background-color: white;
}
head {
    color: red;
}
body {
    background: lightcyan;
    

}
p{
    width: 100px;
    font-size: 30px;
    display: inline;
}
button {
    display: flex;
    padding: 15px;
    font-size: 15px;
    margin: 20px auto;
    max-width: 180px;
    text-decoration: none;
    border-radius: 5px;
    background-color: lightcyan;
}
#excuse{
    text-align: center;
}